html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', SimSun, sans-serif;
  font-size: 14px;
  // font-weight: 400;
  line-height: 1.6;
  color: #333;
  background: url(../images/da_bg.png) 0 0 repeat-x #fff;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: " ";
}

.clearfix::after {
  clear: both;
}

a {
  color: #108cee;
  text-decoration: none;

  &:hover,
  &:active {
    color: lighten(#108cee, 10%);
  }
}

a > img {
  border: none 0;
}

.text-primary {
  color: #108cee;
}

.text-success {
  color: #2cb663;
}

.text-warning {
  color: #f4b329;
}

.text-danger {
  color: #eb5252;
}

.iconfont {
  vertical-align: middle;
}
