@import "paper";

.phone {
  width: 365px;
  height: 796px;
  padding: 100px 16px;
  background: url(./images/phone.png) no-repeat;
  background-size: 100%;
}

.phone__content {
  height: 100%;
  overflow: auto;
  background: #f4f4f4;
}
