.paper {
}

.paper__header {
  /*
  height: 160px;
  background: url(../../assets/banner.png) no-repeat;
  background-size: 100% 100%;
  */
}

.paper__body {
}

.question {
  padding: 0.5em 1em;
  margin-top: 1em;
  font-size: 16px;
  background: #fff;
  border-top: solid 1px #e8e8e8;
  border-bottom: solid 1px #e8e8e8;
}

.question .question {
  margin-top: 0;
  border: none 0;
}

.question__header {
  line-height: 2em;
}

.question__content {

}

.option__text {
  float: left;
  margin-right: 10px;
}

.option__input {
  margin-top: -11px;
  overflow: hidden;
}

.option__input input {
  margin-bottom: 0;
}
