.datagrid_table {
  width: 100%;

  th {
    background: #f6f7fb;
    border: none 0;
    border-right: solid 1px #fff;
  }

  .ope-link {
    margin-right: 8px;
  }
}

.datagrid_pagination {
  margin-top: 28px;
  text-align: center;
}
