.datagrid_table {
  //width: 100%;

  th {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    background: #ddeefe;
    border: none 0;
    border-right: solid 1px #d4e9fc;
  }

  tr:nth-child(even) {
    background-color: #f3f8fe;
  }

  .ope-link {
    margin-right: 8px;
  }
}

.datagrid_pagination {
  margin-top: 28px;
  text-align: center;
}
