.page {
  position: relative;
  height: 100%;
}

.page__header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 60px;
  color: #fff;
  //text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  // background-color: rgba(63, 161, 242, 0.24);
  background: #fff;
  box-shadow: 0 0 16px rgba(33, 107, 255, 0.5);

  .logo {
    float: left;
    width: 200px;
    height: 100%;
    background: #373e58;
    border-top-right-radius: 6px;
  }

  .header__top-menu {
    float: right;
  }
}

.page__main {
  //width: 100%;
  height: calc(100% - 128px);
  //min-height: calc(100% - 80px);
  margin-top: 128px;
  margin-left: 200px;
  // background-color: #e8ecf0;

  .fn {
    position: fixed;
    top: 60px;
    right: 20px;
    z-index: 200;
    height: 60px;
    line-height: 60px;
  }
}

.main__aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  width: 200px;
  background: #373e58;
  border-radius: 0 6px 6px 0;

  .title {
    width: 200px;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
    line-height: 60px;
    color: #fff;
    text-align: center;
  }

  .aside__menu {
    height: calc(100% - 60px);
    overflow: auto;
  }
}

.main__content {
  height: 100%;
  padding: 0 20px 20px 20px;

  .content__breadcrumb {
    position: fixed;
    top: 60px;
    left: 200px;
    z-index: 199;
    width: 100%;
    padding: 20px 0 20px 20px;
    background: #f0f5f9;

    .el-breadcrumb {
      padding-left: 10px;
      margin: 0;
    }
  }

  .content__body {
    position: relative;
    min-height: 100%;
    background: #fff;

    .heading {
      padding-left: 20px;
      font-size: 16px;
      font-weight: bold;
      line-height: 55px;
      border-bottom: 1px solid #e8ebee;
    }

    .content {
      // min-height: 500px;
      padding: 0 0 20px 0;
      border-radius: 4px;
      box-shadow: 0 0 16px rgba(33, 107, 255, 0.5);

      .ope {
        padding-top: 20px;
      }

      .search-group {
        padding: 0 20px;
      }
    }
  }
}
