.table_detail {
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;

  td {
    padding: 12px;
    border: solid 1px #fff;

    &:nth-of-type(2n-1) {
      color: #666;
      text-align: right;
      background-color: #ddeefe;
    }

    &:nth-of-type(2n) {
      //background-color: #fafafa;
      background-color: #ddeefe59;
    }
  }
}

.table_simple {
  width: 100%;
  border-collapse: collapse;
  border: solid 1px #666;

  th {
    background-color: #dedede;
  }

  td,
  th {
    padding: 8px;
    border: solid 1px #666;
  }
}
